* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#logo {
    align-content: center;
    display: flex;
    justify-content: space-around;
}

header {
    display: flex;
    height: 20vh ;
    align-content: center;
    justify-content: space-around;
}

nav {
    border: solid 2px gray;
    height: 10vh ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    color: antiquewhite;
    font-weight: bold;
    text-decoration: none;
}

body {
    background: linear-gradient(#307BCB,#725AE2 );
    height: 100vh;
}

main{
    /* flex-direction: ; */
    color: beige;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-rows: repeat(5, 1fr)  ;
    grid-template-columns: repeat(13, 1fr);
    height: 60vh;
}

.item-1 {
     grid-area: 2 / 2 / 4 / 4 ;
     background-image: url("memory-game.jpg"); 
     background-repeat: no-repeat;
     background-size: cover;
     background-position-x: center; 
     justify-content: baseline;
     
} 
.item-2 {
    grid-area: 2 / 5 / 4 / 7 ;
    background-image: url("Pong.png"); 
    text
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center; 
} 
.item-3 {
    grid-area:  2 / 8 / 4 / 10 ;
    background-image: url("snake.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center; 
} 
.item-4 {
    grid-area:  2/ 11 / 4 /13  ;
    background-image: url("Tetris.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center; 
} 